* {
  box-sizing: border-box;
}

.card {
  float: left;
  width: 18%;
  padding: 5px;
  margin-top: 2%;
  margin-left: 0.1%;
}
.forcastCards {
  margin-left: 20%;
}
.currentinfo {
  margin-left: 20%;
  border: solid black 3px;
  height: 30vh;
}
.heading {
  text-align: center;
  background-image: linear-gradient(to right, lightblue, darkblue);
}
input{
  width: 20%;
  
}
#button{
  width: 20%;
  background-color: rgb(139, 203, 255);
  margin-top: 1%;
  
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
